@import "../../assets/breakpoints.scss";

.directory-menu {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include media("<=tablet"){
     flex-direction: column;
      
  }

  }
  