*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans Condensed', sans-serif;
    overflow-x: hidden;
    /* padding:  0 60px 60px 20px ; */
}

a{
    text-decoration: none;
    color: black;
  }